{% load static %}
<footer id="footer">
			<div class="top-footer">
			</div>
			<div class="zerogrid wrap-footer">
				<div class="row">
					<div class="col-2-4 col-footer-1">
						<div class="wrap-col">
							<h3 class="widget-title">About</h3>
							<p>Alpha Project Disclaimer: This server is provided by the School of Computer Science at the University of Birmingham to allow users to provide feedback on software developed by students as part of an assignment. While we take reasonable precautions, we cannot guarantee the security of the data entered into the system. Do NOT enter any real personal data (e.g. financial information or otherwise) into the system. The assignment runs until May 31st 2023, at which time the server and all associated data will be destroyed.</p>
							<ul class="quicklinks">
								<li><a id="footer-link" >Privacy Policy</a></li>

								<li><a href="{% url 'disclaimer' %}">Terms of Use</a></li>
							</ul>
						</div>
					</div>
					<div class="col-1-4 col-footer-2">
						<div class="wrap-col">
							<h3 class="widget-title">Contact Us</h3>
							<p>Call us:</p>
							<strong style="font-size: 25px;">0123-456-789</strong>
							<p>Address:</p>
							<strong>Birmingham</strong>
							<p>Email:</p>
							<strong>bham.ac.uk</strong>
						</div>
					</div>
					<div class="col-1-4 col-footer-3">
						<div class="wrap-col">
							<h3 class="widget-title">Socials</h3>
							<ul class="social-buttons">
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="https://www.facebook.com/ZerothemeDotCom/"><i
											class="fab fa-facebook"></i></a></li>
								<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>

		</footer>
		<!-- privacy弹出窗口 -->

		<div id="lightbox" class="lightbox-hidden">
			<div class="lightbox-content">
				<span id="close-lightbox">&times;</span>
				<div class="wf-section">
					<h1 class="lightbox-title">Your privacy at a glance</h1>
					<p class="paragraph-3">Hello. We are Reel Travel developers. Here&#x27;s a summary of how we protect your data and respect your privacy.</p>
				  </div>
				  <div class="columns w-row">
					<div id="fc" class="firstcolumn w-col w-col-6 w-col-small-6">
					  <div class="block2 wf-section">
						<div class="div-block"><img src="{% static 'images/1.png' %} " loading="lazy" width="46" alt="" class="image-2">
						  <h4 class="h4">Types of data we collect</h4>
						</div>
						<ul role="list" class="list3">
						  <li class="list-item">Contact details</li>
						  <li>Financial information</li>
						  <li>Data from your contracts</li>
						  <li>Data that identifies you</li>
						  <li>Data on how you use Juro</li>
						</ul>
					  </div>
					  <div class="block2 wf-section">
						<div class="div-block"><img src="{% static 'images/615e9da017f52d7f80a75ebc_image-4.png'%}" loading="lazy" width="41" alt="" class="image-2">
						  <h4 class="h4">‍<strong>How we use your data</strong></h4>
						</div>
						<ul role="list" class="list3">
						  <li>To keep website running</li>
						  <li>To Help us improve website</li>
						  <li>To give personalized customer support</li>
						  <li>To send you marketing messages (but only if you tell us to)</li>
						  <li>To comply with laws and regulations and our legal obligations </li>
						</ul>
					  </div>
					  <div class="block2 wf-section">
						<div class="div-block"><img src="{%  static 'images/615e9daf907e882cda1fd15f_image-5.png' %}" loading="lazy" width="40" alt="" class="image-2">
						  <h4 class="h4">‍<strong>Third parties who process your data</strong>‍</h4>
						</div>
						<p class="paragraph-4">The following services help us keep Juro running by storingor processing your data on our behalf:</p>
						<ul role="list" class="list3">
						  <li class="list-item-2">Infrastructure: AWS</li>
						  <li>Analytics: Google Analytics</li>
						  <li>Integrations: (by your request) Google,<p>social media platforms or travel booking sites</p>
						  </li>
						</ul>
					  </div>
					  <div class="block2 wf-section">
						<div class="div-block"><img src="{%  static 'images/615e9dc69d4c8d6f57b18871_image-6.png' %}" loading="lazy" width="36" alt="" class="image-2">
						  <h4 class="h4">We use cookies</h4>
						</div>
						<ul role="list" class="list3">
						  <li>We use only necessary cookies to run and improve the service</li>
						  <li>Our third-party service providers use cookies too (which they control)</li>
						  <li>You can turn off cookies but this will mean that we can&#x27;t recognize you in in-app messaging and we can&#x27;t resolve issues as easily.</li>
						</ul>
					  </div>
					</div>
					<div class="w-col w-col-6 w-col-small-6">
					  <div class="block2 wf-section">
						<div class="div-block"><img src="{%  static 'images/615e9e072f478124955a7387_image-10.png' %}" loading="lazy" width="46" alt="" class="image-2">
						  <h4 class="h4">‍<strong>When and how we collect data</strong></h4>
						  <p class="p4">The following services help us keep website running by storingor processing your data on our behalf:</p>
						  <div class="div-block-2"><img src="{%  static 'images/615e9e8b83151b2a5e070ad5_image-9.png' %}" loading="lazy" width="114" alt="" class="lineimg">
							<ul role="list" class="list w-list-unstyled">
							  <li class="item">you register for an account on our website,</li>
							  <li class="item">we store this information securely</li>
							  <li class="item">You browse any page of our website</li>
							  <li class="item">we collect your browsing activity data</li>
							  <li class="item">we may collect your general location information</li>
							  <li class="item">we provide you with the most relevant travel maps</li>
							  <li class="item">you choose to create travel itineraries, save locations, or contribute reviews</li>
							  <li class="item">we store this information to enhance your experience and help other users. </li>
							</ul>
						  </div>
						</div>
					  </div>
					  <div class="block2 wf-section">
						<div class="div-block"><img src="{%  static 'images/615e9df39d4c8d3048b189ec_image-7.png' %}" loading="lazy" width="46" alt="" class="image-2">
						  <h4 class="h4"><strong>Know your rights</strong></h4>
						</div>
						<ul role="list" class="list3">
						  <li>Access information we hold on you</li>
						  <li>Opt-out of marketing comms</li>
						  <li>Port your data to another service</li>
						  <li>Complain about us</li>
						</ul>
					  </div>
					  <div class="block2 wf-section">
						<p>Alpha Project Disclaimer: This server is provided by the School of Computer Science at the University of Birmingham to allow users to provide feedback on software developed by students as part of an assignment. While we take reasonable precautions, we cannot guarantee the security of the data entered into the system. Do NOT enter any real personal data (e.g. financial information or otherwise) into the system. The assignment runs until May 31st 2023, at which time the server and all associated data will be destroyed.</p>
					  </div>
					</div>
				  </div>
			</div>
		</div>
