
{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--////////////////////////////////////Container-->
  <section id="container" xmlns="http://www.w3.org/1999/html">
			<div class="wrap-container">
				<!-----------------content-box-2-------------------->
				<div class="content-box boxstyle-2 box-2">
					<div class="zerogrid">
						<div class="row wrap-box"><!--Start Box-->
							<div class="row">
								<div class="col-2-3 offset-1-6">
									<div class="header">
										<div class="wrapper">
											<div class="intro">3D Earth is comming</div>

										</div>
									</div>
									<p class="lead">Don't miss out on our top-rated movie trip experiences!</p>


								</div>
							</div>
							<div id="owl-slide" class="owl-carousel">
								<div class="item">
									<img src="{%static 'images/1.jpg'  %}" alt="image1">
									<div class="carousel-caption">
										<div class="carousel-caption-inner">
											<p class="carousel-caption-title"><a href="#">How to Take Care for Hair in
													the Summer</a></p>
											<p class="carousel-caption-category"><a href="#"
													rel="category tag">Wheat</a>,
												<a href="#" rel="category tag">Seeds</a>, <a href="#"
													rel="category tag">Field</a>
											</p>
										</div>
									</div>
								</div>
								<div class="item">
									<img src="{%static 'images/2.jpg'  %}" alt="image2"/>
									<div class="carousel-caption">
										<div class="carousel-caption-inner">
											<p class="carousel-caption-title"><a href="#">How to Take Care for Hair in
													the Summer</a></p>
											<p class="carousel-caption-category"><a href="#"
													rel="category tag">Vegetables</a>,
												<a href="#" rel="category tag">Potatoes</a>, <a href="#"
													rel="category tag">Garden</a>
											</p>
										</div>
									</div>
								</div>
								<div class="item">
									<img src="{%static 'images/3.jpg' %} " alt="image3"/>
									<div class="carousel-caption">
										<div class="carousel-caption-inner">
											<p class="carousel-caption-title"><a href="#">How to Take Care for Hair in
													the Summer</a></p>
											<p class="carousel-caption-category"><a href="#"
													rel="category tag">Fruit</a>,
												<a href="#" rel="category tag">Berries</a>, <a href="#"
													rel="category tag">Vitamin</a>
											</p>
										</div>
									</div>
								</div>
								<div class="item">
									<img src="{%static 'images/4.jpg' %} " alt="image4"/>
									<div class="carousel-caption">
										<div class="carousel-caption-inner">
											<p class="carousel-caption-title"><a href="#">How to Take Care for Hair in
													the Summer</a></p>
											<p class="carousel-caption-category"><a href="#"
													rel="category tag">Seeds</a>,
												<a href="#" rel="category tag">Healthy</a>, <a href="#"
													rel="category tag">Pursuits</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
      </div>
    </div>
  </section>

 {% endblock %}
